.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.span {
  font-size: 1rem;
  color: white;
}