.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Fondo translúcido oscuro */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .content {
    display: flex;
    width: 70%;
    max-width: 800px;
    height: 450px;
    background: rgba(255, 255, 255, 0.15); /* Fondo translúcido blanco */
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Efecto de desenfoque detrás del contenido */
  }
  
  .formContainer {
    flex: 7;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  
  .form input {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Bordes translúcidos */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); /* Fondo translúcido de los inputs */
    color: white;
  }
  
  .form input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder translúcido */
  }
  
  .form button {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6); /* Fondo translúcido negro para el botón */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .infoContainer {
    flex: 3;
    background: rgba(38, 38, 38, 0.9); /* Fondo translúcido oscuro */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .infoText {
    text-align: center;
  }
  
  .infoImage {
    margin-top: 20px;
    max-width: 100%;
  }
  
  .buttons {
    top: 20px;
    left: 20px;
    text-align: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    background: #262626;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
  }
  
  .button.active {
    background: #F0B90B;
    color: white;
    transform: scale(1.1);
  }

  .imageLogin{
    background-image: url('../../../public/images/image-login.svg');
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imageRegister{
    background-image: url('../../../public/images/image-register.svg');
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }